<html>
  <div class="home_page">
    <!-- Top-bar-->
    <div class="top_bar" role="banner">
      <div class="top_bar_title">
        <h2>PLANIRUM DOCUMENTATION</h2>
      </div>

      <div class="top_bar_links">
        <a class="link" href="/home/">Database Structure</a>
        <a class="link" href="/home/">Logic</a>
        <a class="link" href="/home/">Architecture</a>
        <a class="link" href="/home/">Tools</a>
        <a class="link" href="/home/">UI Flow</a>
        <a class="link" href="/home/">About</a>
      </div>
    </div>

    <!--Body-->
    <div class="body">
      <div class="content">
        <div class="content_item">
          <h4>This is the documentation for the Planirum app.</h4>
        </div>

        <div class="content_item">
          <h4>
            It covers from the Architecture used to build this app, the UI Flow
            as well as the set of rules followed to make sure the design pattern
            is consistent throughout the app.
          </h4>
        </div>

        <div class="content_item">
          <h4>
            The order advised to be followed while reading this documentation
            is:
          </h4>
          <ul>
            <a href="/home/"> 1. About </a>
          </ul>
          <ul>
            <a href="/home/"> 2. UI Flow </a>
          </ul>
          <ul>
            <a href="/home/"> 3. Tools </a>
          </ul>
          <ul>
            <a href="/home/"> 4. Architecture </a>
          </ul>
          <ul>
            <a href="/home/">
              5. Logic handling in different parts of the project
            </a>
          </ul>
          <ul>
            <a href="/home/"> 6. Database management </a>
          </ul>
        </div>
      </div>
    </div>
  </div>
</html>
