@use "../shared/styles/_colors.scss";

:host {
  font-family: "Gopher-Mono";
  font-size: 12px;
  color: #333;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h2 {
  margin: 8px 0;
}

.home_page {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.top_bar > * {
  width: 100%;
}

.top_bar {
  top: 0;
  left: 0;
  right: 0;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: colors.$primary;
  color: colors.$on-primary;
  font-weight: 600;
}

.top_bar_title {
  margin-left: 20px;
}

.top_bar_links {
  margin-right: 20px;
  display: flex;
  flex-direction: row-reverse;
}

.link {
  color: colors.$on-primary;
  margin-right: 20px;
  font-size: 14px;
  text-decoration: none;
  &:hover {
    color: colors.$on-primary;
    font-weight: bold;
    font-style: italic;
  }
}

.body {
  flex-grow: 1;
  background-color: colors.$background;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}

.content {
  max-width: 50%;
}

.content_item {
  margin-top: 20px;
  margin-bottom: 20px;
}

.content_item h4 {
  text-align: start;
}

.content_item a {
  text-decoration: none;
  color: colors.$on-background;
  &:hover {
    color: colors.$primary;
    font-weight: bold;
    font-style: italic;
  }
}
